<html>
<head>


    <title>Clock</title>
    <style>
        body {
            background: #dddddd;
        }

        #canvas1 {
            position: absolute;
            left: 0px;
            top: 0px;
            margin: 20px;
            background: #ffffff;
            border: thin solid #aaaaaa;
        }

        #canvas2 {
            position: absolute;
            left: 0px;
            top: 0px;
            margin: 20px;
            border: thin solid #aaaaaa;
        }
    </style>
</head>
<body>
<canvas id="canvas1" width="400" height="400">
    Canvas not supported
</canvas>
<canvas id="canvas2" width="400" height="400">
    Canvas not supported

  </canvas>
{% load staticfiles %}

<!-- static image import
<img src="{% static 'img/test.jpg' %}"></img>
-->

<script src="{% static 'js/clock.js' %}"></script>

  </body>

  </html>
